MYSQL_HOST=host.docker.internal
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# JWT設定
#32byteのランダム文字列
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# セッション設定
SESSION_EXPIRE_DAYS=7

# アプリケーション設定
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=True

# CORS設定
#ローカルのフロントエンドURL、推奨はhttp://localhost:3030
ALLOWED_ORIGINS=